
*.gz
RobloxPy.egg-info/dependency_links.txt
RobloxPy.egg-info/PKG-INFO
RobloxPy.egg-info/SOURCES.txt
RobloxPy.egg-info/top_level.txt
setup.py
.vs/RobloxPyOffical/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
build/lib/robloxpy/__init__.py
dist/robloxpy-0.0.5-py3-none-any.whl
robloxpy/.vscode/settings.json
robloxpy/__pycache__/__init__.cpython-37.pyc
robloxpy/Cookie.txt
robloxpy/Testing.py
dist/robloxpy-0.0.6-py3-none-any.whl
Upload.bat
robloxpy/Test.py
